#Echo configuration file.
#Made with love by Cow & Josh
NO_PERMISSION: "&cNo permission"

ALTS_COMMAND:
  ENABLED: true
  MAIN_COMMAND: "alts"
  ALIASES:
    - "aliases"
    - "alias"
  NOT_ALTS_MESSAGE: "&cCouldn't find any alts"
  START_MESSAGE: "Searching Echo for aliases of {player}..."
  FINISH_MESSAGE: "{alts}"
FREEZE_COMMAND:
  ENABLED: true
  MAIN_COMMAND: "freeze"
  ALIASES:
    - "ss"
    - "screenshare"

  ALLOW_MULTIPLE_STAFF_PER_KEY: false
  #This makes it so 2 staff members cannot set their key to the same. Shit will break if 2 staff members scan with the same API key at the same time.

  PLAYER_MOVE_EVENT: true #Disable this if you have players getting disconnected/anti-crash kicking them while frozen
  MESSAGE: "&f &f\n&f &f\n&f &f\n&f &f\n&f &f\n&f &f\n&f &f\n&f &f\n&f &f\n&f &f\n&f &f\n&f &f\n&f &f\n&l█████████\n&l████&9&l█&f&l████   &9&lALERT! &f&lYou have been frozen!\n&l███&9&l█&0&l█&9&l█&f&l███\n&l██&9&l█&b&l█&0&l█&b&l█&9&l█&f&l██   &fYou have {countdown} to run this:\n&l██&9&l█&b&l█&0&l█&b&l█&9&l█&f&l██   &b{link}\n&f&l█&9&l█&b&l█████&9&l█&f&l█\n&9&l█&b&l███&0&l█&b&l███&9&l█\n&9&l█████████   &7&o(from echo.ac to prove you're legit)\n&f&l█████████"
  SEND_MESSAGE_EVERY: 1000 #integer in milliseconds to send the freeze message (default: 1 second)
  STAFF_STARTED_MESSAGE: "&f&lStarted! &b{player} &fhas downloaded and ran Echo, now scanning!"
  STAFF_RESULT_MESSAGE: "&f&lScan complete! &fResults: &b{link}"
  STAFF_ACTION_BAR: "&f&lScan Progress: &f&n{progress}"
  STAFF_ACTION_BAR_PROGRESS_BAR: true
  STAFF_ACTION_BAR_PROGRESS_BAR_COLOR_1: "&7"
  STAFF_ACTION_BAR_PROGRESS_BAR_COLOR_2: "&b&l"
  STAFF_ACTION_BAR_PROGRESS_BAR_COLOR_3: "&f&l"
  AUTOBAN:
    ENABLED: true
    TIME_BEFORE_AUTOBAN: 300000 #integer in milliseconds before automatic ban (default: 5 minutes)
    AUTOBAN_COMMAND: "/ban {player} Refusal to SS"
    AUTOBAN_COMMAND_CONSOLE: false #True = will send command thru console | False = will send command thru whoever the dispatched command.
KEY_COMMAND:
  ENABLED: true